@import "tailwindcss";

html,
body {
  margin: 0;
  padding: 0;
  height: 100dvh;
}

#root {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100dvh;
  width: 100%;
  color: white;
}

.test-class {
  border: 5px solid yellow !important;
}